.portfolio{
    height:250px;
    background-size:cover;
    background-position: center center;
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.5);
    background-blend-mode: darken;
    transition: background-color 0.3s ease;
  }
  .portfolio:hover{
    background-color: rgba(255,255,255,0.5);
    background-blend-mode: lighten;
  }
.card-link {
    display: block;
    text-decoration: none;
    color: inherit;

}